* { padding: 0; margin: 10; }

canvas {
    background-image: url("../img/Flat Night 4 BG.png");
    background-repeat: no-repeat;
    /*background-color: aqua;*/
    background-size: 100%;
    display: block;
    margin: 0 auto;
    padding: 0px;
}
